* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgb(211, 198, 187);
}
.center-section {
  margin: 0 auto;
  width: 90vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
form {
  padding: 5rem;
  background-color: antiquewhite;
}
form h4 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}
